{% extends 'bash.html' %}


{%block head%}
<title>iPortfolio - About</title>
<style>
  :root {
    --blue: #0a192f }
  body {
    background-color: var(--blue);
  }

 .centered{
    display:block;
    margin: auto;
    width: 100%;
    padding: 10px auto;
    user-select: none;
}
.about{
  display: block;
  margin: auto;
  width: 74%;
  user-select: none;
}

#hero5{
  padding-top: 100px;
  font-size: 370%;
  color: #a8b2d1;
  font-weight: bold;
}

#hero1{
  padding-top: 10px;
  font-size: 20px;
  color:  #ccd6f6;
  font-weight: bold;
  margin:auto;
  width:80%;
}


#hero2{
  padding-top:50px;
  font-size: 3em;
  color:  #a8b2d1;
  font-weight: bold;

 
}


#herop{
  padding-top: 10px;
  font-size: 2em;
  color:  #ccd6f6;
  font-weight: bold;
  margin:auto;
  width:80%;
 
}

#data1{
  padding-top: 10px;
  font-size: 20px;
  color:  #ccd6f6;
  font-weight: bold;
  margin:auto;
  width:80%;
}

#data2{
  padding-top: 10px;
  font-size: 20px;
  color:  #ccd6f6;
  font-weight: bold;
  margin:auto;
  width:80%;
}

#data3{
  padding-top: 50px;
  font-size: 3em;
  color:   #a8b2d1;
  font-weight: bold;
}

#data4{
  padding-top: 10px;
  font-size: 2em;
  color:#ccd6f6;
  font-weight: bold;
  margin:auto;
  width:80%;
}

#data5{
  padding-top: 10px;
  font-size: 20px;
  color:   #ccd6f6;
  font-weight: bold;
  margin:auto;
  width:80%;
}


#data6{
  padding-top: 10px;
  font-size: 20px;
  color:   #ccd6f6;
  font-weight: bold;
  margin:auto;
  width:80%;
}

#data7{
  padding-top: 10px;
  font-size: 2em;
  color:  #ccd6f6;
  font-weight: bold;
  margin:auto;
  width:80%;
}

#data8{
  padding-top: 10px;
  font-size: 20px;
  color:   #ccd6f6;
  font-weight: bold;
  margin:auto;
  width:80%;
}

#data9{
  padding-top: 10px;
  font-size: 20px;
  color:  #ccd6f6;
  font-weight: bold;
  margin:auto;
  width:80%;
}


#next1{
  padding-top: 50px;
  font-size: 3em;
  color: #a8b2d1;
  font-weight: bold;
}

#next2{
  padding-top: 10px;
  font-size: 2em;
  color:  #ccd6f6;
  font-weight: bold;
  margin:auto;
  width:80%;
}

#next3{
  padding-top: 10px;
  font-size: 20px;
  color:  #ccd6f6;
  font-weight: bold;
  margin:auto;
  width:80%;
}

#next4{
  padding-top: 10px;
  font-size: 2em;
  color:  #ccd6f6;
  font-weight: bold;
  margin:auto;
  width:80%;
}

#next5{
  padding-top: 10px;
  font-size: 20px;
  color:    #ccd6f6;
  font-weight: bold;
  margin:auto;
  width:80%;
}

#next6{
  padding-top: 50px;
  font-size: 3em;
  color:  #a8b2d1;
  font-weight: bold;
}

#next7{
  padding-top: 10px;
  font-size: 20px;
  color:   #ccd6f6;
  font-weight: bold;
  margin:auto;
  width:80%;
}

#next8{
  padding-top: 10px;
  font-size: 20px;
  color:  #ccd6f6;
  font-weight: bold;
  margin:auto;
  width:80%;
}

#next9{
  padding-top: 50px;
  font-size: 3em;
  color:  #a8b2d1;
  font-weight: bold;
}

#next10{
  padding-top: 10px;
  font-size: 20px;
  color:   #ccd6f6;
  font-weight: bold;
  margin-bottom:150px;
  margin:auto;
  width:80%;
  padding-bottom: 150px;
}





</style>

    {%endblock head%}


{%block body%}


    <div class="centered">
      <section class="about" class="about">
          <div id="hero">
            <h5 id="hero5">OBJECTIVES</h5>
              <h1 id="hero1">To work in a challenging environment to prove my skills and utilize my knowledge, intelligence
                & achieve high career growth through a continuous learning process & launch a career in
                field of Computer Application.</h1>
                 <h2 id="hero2">About</h2>
                 <h2 id="herop">Mahesh Sharma</h2>
                 
             </div>
         
          <div id="data">
           <h1 id="data1">Phone no:- (+19) 965 968 8882</h2>
            <div id="data2">Email:- Mas622823@gmail.com</div>

             <p  id="data3">Education</P>
              <h4 id="data4">DIPLOMA (polytechnic) &amp;Computer Science </h4>
              <h5 id="data5">2018 - 2021</h5>
              <p id="data6"><em>Government polytechnic, Sirsa,HR</em></p>
              
          
              <h4 id="data7">INTERMIDATE  With Science </h4>
              <h5 id="data8">2019 - 2020</h5>
              <p id="data9"><em>Agroha S N Inter college, Muzaffarnagar, UP</em></p>
               </div>
        
         
          <div id="next">
            <h3 id="next1">Skills</h3>
          
              <h4 id="next2">Programming Languages</h4>
              <p id="next3"><em>Python, HTML, CSS, MySQL </em></p>

              <h4 id="next4">Libraries & Frameworks</h4>
              <p id="next5" ><em>Selenium, Django</em></p>
              
              
                <h4 id="next6">Software Testing</h4>
                <p id="next7"><em> Manual Testing, Functional Testing, Non-Functional Testing, Unit Testing,
                  Integration Testing, System Testing, Testing Documentation, Test Planning, Regression Testing,
                  Smoke Testing, Sanity Testing</em></p>
                  <li id="next8">Selenium With Python</li>

                  <h4 id="next9">Technical Skills</h4>
                  <p id="next10"><em>Networking Knowledge, Hardware Knowledge, NAS Server, Troubleshooting.
                  </em></p>
                   
          </div>
        </div>
      </div>
      </div>
      
      




    {%endblock body%}